/* Universal selectors first */

/* The third option besides pasting into the html file, is you can add the cursor into the universal selector of css. It doesn't work if we put a dot before asset when accessing from the css file. */
/* First here is the url from our folder */
/*
* {
    cursor: url('/assets/cursor/pinkrose32.png'), auto !important;
}
*/
/* Next here is the url from the Cursors4u website if we wanted to use that */
* {
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym752.cur), auto !important;
} 


/* Element selectors */
/* Body selector background image won't apply to inside of forms and buttons which universal would */
body {
    /* use background image for gradients instead of background color */
    background-image: linear-gradient(120deg, #f665ea, #61378a);
    color: white;
}

header {
    font-size: 5.5rem;
    /* google font */
    font-family: "Clicker Script", sans-serif;
    /* purple dropshadow */
    filter: drop-shadow(5px 5px 2px #4444dd);
    margin-top: 50px;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    width: 15rem;
}

form input:focus {
    background-color: #e677df;
}

form input,
form button {
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: blue;
    border: none;
    background: white;
    font-family: "Handlee", serif;
}

form button {
    color: #4d10b0;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #4d10b0;
    color: white;
}

/* div class of container of unordered list */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* unordered list */
.todo-list {
    min-width: 30%;
    /* remove dots of unordered list */
    list-style: none;
}

/* each list item within ul holding the p text, check button, and trash button */
.todo-li {
    display: flex;
    /* another google font */
    font-family: "Handlee", serif;
    width: 40rem;
    /* Creates gap between each li */
    margin-bottom: 0.5rem;
    background: white;
    color: blue;
    font-size: 1.5rem;
    /* makes a space between each: p text, button, button */
    justify-content: space-between;
    /*horizontal center*/
    align-items: center;
    /*vertical center*/
    /* If there is a change anywhere within, in this case the .completed, male a nice transition */
    transition: all .5s ease;
}

/* could also go straight to .todo-list-item */
.todo-li p {
    /* pushes buttons to end of li box after p text*/
    flex: 1;
    padding: 0rem 0.5rem;
}

/* trash and checkmark */
.trash-button,
.complete-button {
    background: rgb(255, 0, 166);
    color: white;
    border: none;
    padding: 1rem;
    /* hand pointer */
    cursor: grab;
    font-size: 1rem;
}

.complete-button:hover {
    background: limegreen;
}

.trash-button:hover {
    background: red;
}

/* Make it so the actual icon of the trash and checkmark don't have separate functionaly from their little surrounding space */
.fa-trash,
.fa-check {
    pointer-events: none;
}

/* When the trash button is clicked, the item transitions by moving down, rotating, and going transparent. Then a separate action after deletes/removes it in the function */
.fall {
    /* down the y axis by 8 and rotated right 20 degrees */
    transform: translateX(8rem) rotateZ(20deg);
    opacity: 0;
}

/* When the checkmark is clicked, this is toggled in a function on js */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* the container div of the select button and selections */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

/* the element that contains the three options will be pink with white text */
select {
    color:white;
    background-color: #e677df;
    width: 10rem;
    cursor: pointer;
    padding: .5rem;
}

/* Adds dropdown arrow to right */
.select::after {
    content: "\25BC";  /* dropdown arrow*/
    position: absolute;
    background:#4d10b0;
    top:0;
    right: 0;
    padding: .6rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* making changes to the after element, the arrow, on hover */
.select:hover::after {
    background: white;
    color: #4d10b0;
}

/* flower icon at footer */
footer {
    display:flex;
    justify-content: center;
    margin-top: 15rem;
    margin-bottom: 7rem;
    font-size: 2rem;;
    /* purple dropshadow */
    filter: drop-shadow(5px 5px 2px #4444dd);
}